services:
  # Main development container (where you will code)
  workspace:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /workspace
    depends_on:
      - postgres
      - keycloak
    env_file: .env
    environment:
      NODE_ENV: development
    volumes:
      - /workspace
      - /home/vscode/.cache/yarn
      - /home/vscode/.cache/Cypress
      - .:/workspace/.devcontainer:ro
      - ../.vscode:/workspace/.vscode:ro
      - ../keycloak:/workspace/keycloak
      - ../postgres:/workspace/postgres
      - ../.code-workspace:/workspace/.code-workspace:ro
      - ../.gitattributes:/workspace/.gitattributes
      - ../.gitignore:/workspace/.gitignore
      - ../init-env-vars.sh:/workspace/init-env-vars.sh
    ports:
      - ${FRONTEND_PORT_MAPPING}
      - ${BACKEND_PORT_MAPPING}
    networks:
      - shared-network
    command: ["/bin/bash", "/workspace/.devcontainer/entrypoint.sh"]
    tty: true

  # PostgreSQL Database Service
  postgres:
    image: postgres:15
    restart: unless-stopped
    env_file: .env
    ports:
      - ${POSTGRES_PORT_MAPPING}
    volumes:
      - /var/lib/postgresql/data
      - ../postgres:/docker-entrypoint-initdb.d:ro
    networks:
      - shared-network

  # PgAdmin Service
  pgadmin:
    user: root
    image: dpage/pgadmin4:latest
    depends_on:
      - postgres
    ports:
      - $PGADMIN_PORT_MAPPING
    env_file: .env
    environment:
      PGADMIN_CONFIG_SERVER_MODE: "False"
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: "False"
    networks:
      - shared-network
    entrypoint: |
      /bin/sh -c '
      cat <<EOF > /tmp/pgpassfile
      postgres:5432:${KEYCLOAK_DB}:${KEYCLOAK_DB_USER}:${KEYCLOAK_DB_PASSWORD}
      postgres:5432:${POSTGRES_DB}:${POSTGRES_USER}:${POSTGRES_PASSWORD}
      EOF

      chmod 600 /tmp/pgpassfile;

      cat <<EOF2 > /pgadmin4/servers.json
      {
        "Servers": {
          "1": {
            "Name": "Keycloak DB",
            "Group": "Servers",
            "Host": "postgres",
            "Port": 5432,
            "MaintenanceDB": "${KEYCLOAK_DB}",
            "Username": "${KEYCLOAK_DB_USER}",
            "PassFile": "/tmp/pgpassfile",
            "SSLMode": "prefer"
          },
          "2": {
            "Name": "Development DB",
            "Group": "Servers",
            "Host": "postgres",
            "Port": 5432,
            "MaintenanceDB": "${POSTGRES_DB}",
            "Username": "${POSTGRES_USER}",
            "PassFile": "/tmp/pgpassfile",
            "SSLMode": "prefer"
          }
        }
      }
      EOF2

      exec /entrypoint.sh'

  # Keycloak Authentication Service
  keycloak:
    image: quay.io/keycloak/keycloak:23.0
    depends_on:
      - postgres
    restart: unless-stopped
    env_file: .env
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:${POSTGRES_PORT}/${KEYCLOAK_DB}
      KC_DB_USERNAME: ${KEYCLOAK_DB_USER}
      KC_DB_PASSWORD: ${KEYCLOAK_DB_PASSWORD}
      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_HTTP_ENABLED: true
      KC_LOG_LEVEL: info
      KC_METRICS_ENABLED: true
      KC_HEALTH_ENABLED: true
    ports:
      - ${KEYCLOAK_PORT_MAPPING}
    volumes:
      - /opt/keycloak/data
      - ../keycloak:/opt/keycloak/data/import:ro
      # - ../keycloak/theme:/opt/keycloak/themes/uscis
    command: start-dev --import-realm
    networks:
      - shared-network

networks:
  shared-network:
    name: shared-network
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16
