services:
  # Main development container (where you will code)
  workspace:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /workspace
    depends_on:
      - postgres
      - keycloak
    env_file: .env
    environment:
      NODE_ENV: development
    volumes:
      - /workspace
      - /home/vscode/.cache/yarn
      - /home/vscode/.cache/Cypress
      - .:/workspace/.devcontainer:ro
      - ../.vscode:/workspace/.vscode:ro
      - ../keycloak:/workspace/keycloak
      - ../postgres:/workspace/postgres
      - ../.code-workspace:/workspace/.code-workspace:ro
      - ../.gitattributes:/workspace/.gitattributes
      - ../.gitignore:/workspace/.gitignore
      - ../init-env-vars.sh:/workspace/init-env-vars.sh
    ports:
      - $FRONTEND_PORT_MAPPING
      - $BACKEND_PORT_MAPPING
      - $KEYCLOAK_PORT_MAPPING
      - $PGADMIN_PORT_MAPPING
      - $KAFKA_PORT_MAPPING
      - $SMTP_PORT_MAPPING
    networks:
      - shared-network
    command: ["/bin/bash", "/workspace/.devcontainer/entrypoint.sh"]
    tty: true

  # PostgreSQL Database Service
  postgres:
    image: postgres:15
    restart: unless-stopped
    env_file: .env
    ports:
      - $POSTGRES_PORT_MAPPING
    volumes:
      - /var/lib/postgresql/data
      - ../postgres:/docker-entrypoint-initdb.d:ro
    networks:
      - shared-network

  # PgAdmin Service
  pgadmin:
    user: root
    image: dpage/pgadmin4:latest
    depends_on:
      - postgres
    ports:
      - $PGADMIN_PORT_MAPPING
    env_file: .env
    environment:
      PGADMIN_CONFIG_SERVER_MODE: "False"
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: "False"
    networks:
      - shared-network
    entrypoint: |
      /bin/sh -c '
      cat <<EOF > /tmp/pgpassfile
      postgres:5432:${KEYCLOAK_DB}:${KEYCLOAK_DB_USER}:${KEYCLOAK_DB_PASSWORD}
      postgres:5432:${POSTGRES_DB}:${POSTGRES_USER}:${POSTGRES_PASSWORD}
      EOF

      chmod 600 /tmp/pgpassfile;

      cat <<EOF2 > /pgadmin4/servers.json
      {
        "Servers": {
          "1": {
            "Name": "Keycloak DB",
            "Group": "Servers",
            "Host": "postgres",
            "Port": 5432,
            "MaintenanceDB": "${KEYCLOAK_DB}",
            "Username": "${KEYCLOAK_DB_USER}",
            "PassFile": "/tmp/pgpassfile",
            "SSLMode": "prefer"
          },
          "2": {
            "Name": "Development DB",
            "Group": "Servers",
            "Host": "postgres",
            "Port": 5432,
            "MaintenanceDB": "${POSTGRES_DB}",
            "Username": "${POSTGRES_USER}",
            "PassFile": "/tmp/pgpassfile",
            "SSLMode": "prefer"
          }
        }
      }
      EOF2

      exec /entrypoint.sh'

  # Keycloak Authentication Service
  keycloak:
    image: quay.io/keycloak/keycloak:23.0
    depends_on:
      - postgres
    restart: unless-stopped
    env_file: .env
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:${POSTGRES_PORT}/${KEYCLOAK_DB}
      KC_DB_USERNAME: ${KEYCLOAK_DB_USER}
      KC_DB_PASSWORD: ${KEYCLOAK_DB_PASSWORD}
      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_HTTP_ENABLED: true
      KC_LOG_LEVEL: info
      KC_METRICS_ENABLED: true
      KC_HEALTH_ENABLED: true
    ports:
      - $KEYCLOAK_PORT_MAPPING
    volumes:
      - /opt/keycloak/data
      - ../keycloak:/opt/keycloak/data/import:ro
      # - ../keycloak/theme:/opt/keycloak/themes/uscis
    command: start-dev --import-realm
    networks:
      - shared-network

  smtp:
    container_name: smtp
    image: rnwood/smtp4dev:v3
    restart: always
    ports:
      - $SMTP_PORT_MAPPING
      - '25:25'
      - '143:143'
    networks:
      - shared-network
    env_file: .env
    environment:
      - ServerOptions__Urls=http://*:80
      - ServerOptions__HostName=smtp
      - ServerOptions__DisableSanitizeHtml=true

  kafka:
    container_name: kafka
    image: bitnamilegacy/kafka
    ports:
      - 9092:9092
      - 29092:29092
    networks:
      - shared-network
    env_file: .env
    environment:
      KAFKA_CFG_NODE_ID: 1
      KAFKA_CFG_PROCESS_ROLES: broker,controller
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092,PLAINTEXT_INTERNAL://:29092,CONTROLLER://:9093
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://kafka:29092
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_CFG_INTER_BROKER_LISTENER_NAME: PLAINTEXT_INTERNAL
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"
      KAFKA_KRAFT_CLUSTER_ID: "odos-kafka"

  # connect:
  #   container_name: connect
  #   image: ghcr.io/cvpcorp/kafka-connect:1.0.2
  #   ports:
  #     - 8083:8083
  #   networks:
  #     - shared-network
  #   env_file: .env
  #   environment:
  #     FORM_UPLOAD_BUCKET: ${FORM_UPLOAD_BUCKET}
  #     FORM_INBOUND_TOPIC: ${FORM_INBOUND_TOPIC}
  #     POSTGRES_USER: ${POSTGRES_USER}
  #     POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  #     DATA_DB_USER: ${DATA_DB_USER}
  #     DATA_DB_PASSWORD: ${DATA_DB_PASSWORD}
  #   volumes:
  #     - ../kafa/connect-distributed.properties:/opt/bitnami/kafka/config/connect-distributed.properties

  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui
    depends_on:
      - kafka
      # - connect
    ports:
      - $KAFKA_PORT_MAPPING
    networks:
      - shared-network
    env_file: .env
    environment:
      DYNAMIC_CONFIG_ENABLED: "true"
    volumes:
      - ../kafa/ui.config.yml:/etc/kafkaui/dynamic_config.yaml

networks:
  shared-network:
    name: shared-network
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16
