services:
  # Main development container (where you will code)
  workspace:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /workspace
    environment:
      NODE_ENV: development
    volumes:
      - ..:/workspace
      - /home/vscode/.cache/yarn
      - /home/vscode/.cache/Cypress
    ports:
      - 3000:3000 # Next UI
      - 5000:5000 # SMTP
      - 8080:8080 # Keycloak
      - 8085:8085 # Kafka
      - 8089:8089 # Springboot
      - 8099:8099 # PgAdmin
    command: ["/bin/bash", "/workspace/.devcontainer/entrypoint.sh"]
    tty: true
