services:
  # Main development container (where you will code)
  workspace:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /workspace
    depends_on:
      - postgres
      - keycloak
    environment:
      NODE_ENV: development
    volumes:
      - /workspace
      - /home/vscode/.cache/yarn
      - /home/vscode/.cache/Cypress
      - .:/workspace/.devcontainer:ro
      - ../.vscode:/workspace/.vscode:ro
      - ../keycloak:/workspace/keycloak
      - ../postgres:/workspace/postgres
      - ../.code-workspace:/workspace/.code-workspace:ro
      - ../.gitattributes:/workspace/.gitattributes
      - ../.gitignore:/workspace/.gitignore
      - ../init-env-vars.sh:/workspace/init-env-vars.sh
    ports:
      - $FRONTEND_PORT_MAPPING
      - $BACKEND_PORT_MAPPING
    networks:
      - shared-network
    command: ["/bin/bash", "/workspace/.devcontainer/entrypoint.sh"]
    tty: true

networks:
  shared-network:
    name: shared-network
