services:
  # PostgreSQL Database Service
  postgres:
    image: postgres:15
    restart: unless-stopped
    env_file: ../.env
    ports:
      - 5432:5432
    volumes:
      - /var/lib/postgresql/data
      - ./postgres:/docker-entrypoint-initdb.d

  # PgAdmin Service
  pgadmin:
    user: root
    image: dpage/pgadmin4:latest
    depends_on:
      - postgres
    ports:
      - 8099:80
    env_file: ../.env
    environment:
      PGADMIN_CONFIG_SERVER_MODE: "False"
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: "False"
    entrypoint: |
      /bin/sh -c '
      cat <<EOF > /tmp/pgpassfile
      postgres:5432:${KEYCLOAK_DB}:${KEYCLOAK_DB_USER}:${KEYCLOAK_DB_PASSWORD}
      postgres:5432:${POSTGRES_DB}:${POSTGRES_USER}:${POSTGRES_PASSWORD}
      EOF

      chmod 600 /tmp/pgpassfile;

      cat <<EOF2 > /pgadmin4/servers.json
      {
        "Servers": {
          "1": {
            "Name": "Keycloak DB",
            "Group": "Servers",
            "Host": "postgres",
            "Port": 5432,
            "MaintenanceDB": "${KEYCLOAK_DB}",
            "Username": "${KEYCLOAK_DB_USER}",
            "PassFile": "/tmp/pgpassfile",
            "SSLMode": "prefer"
          },
          "2": {
            "Name": "Development DB",
            "Group": "Servers",
            "Host": "postgres",
            "Port": 5432,
            "MaintenanceDB": "${POSTGRES_DB}",
            "Username": "${POSTGRES_USER}",
            "PassFile": "/tmp/pgpassfile",
            "SSLMode": "prefer"
          }
        }
      }
      EOF2

      exec /entrypoint.sh'

  # Keycloak Authentication Service
  keycloak:
    image: quay.io/keycloak/keycloak:23.0
    depends_on:
      - postgres
    restart: unless-stopped
    env_file: ../.env
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:${POSTGRES_PORT}/${KEYCLOAK_DB}
      KC_DB_USERNAME: ${KEYCLOAK_DB_USER}
      KC_DB_PASSWORD: ${KEYCLOAK_DB_PASSWORD}
      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_HTTP_ENABLED: true
      KC_LOG_LEVEL: info
      KC_METRICS_ENABLED: true
      KC_HEALTH_ENABLED: true
    ports:
      - 8080:8080
    volumes:
      - /opt/keycloak/data
      # - ./keycloak/theme:/opt/keycloak/themes/uscis
      - ./keycloak/realm.json:/opt/keycloak/data/import/realm.json
    command: start-dev --import-realm

  smtp:
    container_name: smtp
    image: rnwood/smtp4dev:v3
    restart: always
    ports:
      - 5000:80
      - 25:25
      - 143:143
    env_file: ../.env
    environment:
      - ServerOptions__Urls=http://*:80
      - ServerOptions__HostName=smtp
      - ServerOptions__DisableSanitizeHtml=true

  kafka:
    container_name: kafka
    image: bitnamilegacy/kafka
    ports:
      - 9092:9092
      - 29092:29092
    env_file: ../.env
    environment:
      KAFKA_CFG_NODE_ID: 1
      KAFKA_CFG_PROCESS_ROLES: broker,controller
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092,PLAINTEXT_INTERNAL://:29092,CONTROLLER://:9093
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://kafka:29092
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_CFG_INTER_BROKER_LISTENER_NAME: PLAINTEXT_INTERNAL
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"
      KAFKA_KRAFT_CLUSTER_ID: "odos-kafka"

  # connect:
  #   container_name: connect
  #   image: ghcr.io/cvpcorp/kafka-connect:1.0.2
  #   ports:
  #     - 8083:8083
  #   env_file: ../.env
  #   environment:
  #     FORM_UPLOAD_BUCKET: ${FORM_UPLOAD_BUCKET}
  #     FORM_INBOUND_TOPIC: ${FORM_INBOUND_TOPIC}
  #     POSTGRES_USER: ${POSTGRES_USER}
  #     POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  #     DATA_DB_USER: ${DATA_DB_USER}
  #     DATA_DB_PASSWORD: ${DATA_DB_PASSWORD}
  #   volumes:
  #     - ./kafa/connect-distributed.properties:/opt/bitnami/kafka/config/connect-distributed.properties

  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui
    depends_on:
      - kafka
      # - connect
    ports:
      - 8085:8080
    env_file: ../.env
    environment:
      DYNAMIC_CONFIG_ENABLED: "true"
    volumes:
      - ./kafa/ui.config.yml:/etc/kafkaui/dynamic_config.yaml
